
<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="main.97292821.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html#contact-section-container" title="" class="anchor-link">Contact Us</a></li>
            <li>
                <p>
                    <a href="components" class="btn btn-default navbar-btn" >Log In</a>
                </p>
            </li>


        </ul>

      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<div class="background-image-container black-text-container" style="background-image: url('assets/images/img-05.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Welcome to COVIDPROOF!</h1>
                <p class="">One stop platform for all information on vaccines</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Get in touch</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">STATISTICS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <h2 class="text-center"> 82750 </h2>
                </div>
                <h3 class="text-center">Vaccines administered</h3>

                <div class="col-xs-12 col-md-4 ">

                    <div class = ".col-sm-12 col-md-4 Pfizer">
                        <div class="text center">Pfizer:2500</div>
                    </div>
                    
                    <div class = ".col-sm-12 col-md-4">
                        <div class="text center">Moderna:3400</div> 

                    </div>
                             
                </div>

            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <h2 class="text-center"> 82750 </h2>
                </div>
                <h3 class="text-center">Side effects reported</h3>
                <p>The most common side effect is soreness at the site of injection. Other side effects include fatigue, headache, muscle aches, chills, joint pain, and possibly some fever.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <h2 class="text-center"> 82750 </h2>
                </div>
                <h3 class="text-center">Vaccine centers</h3>
                <p> There are a lot of vaccine centers set up around the world with best in class staffs ready to help 24*7

                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('assets/images/img-01.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>P R O T E C T</p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Approved Vaccines</h2>
                <h3>Pfizer's Vaccine</h3>
                <p>The Pfizer/BioNTech Covid jab is an mRNA vaccine. Essentially, 
                    mRNA is a molecule used by living cells to turn the gene sequences in DNA 
                    into the proteins that are the building blocks of all their fundamental structures.
                    The Pfizer vaccine showed efficacy of 95% at preventing symptomatic Covid infection, 
                    measured starting from seven days after the second dose was administered. The vaccine 
                    appeared to be more or less equally protective across age groups and racial and ethnic groups. 
                </p>

                <h3>Moderna's Vaccine</h3>
                <p>The Moderna vaccine was 94.1% effective at preventing symptomatic Covid-19, measured starting 
                    from 14 days after the second dose. The vaccine’s efficacy appeared to be slightly lower in people 65 and older, 
                    but during a presentation to the Food and Drug Administration’s advisory committee the company explained that t
                    he numbers could have been influenced by the fact there were few cases in that age group in the trial. 
                    The vaccine appeared to be equally effective across different ethnic and racial groups.</p>

            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('assets/images/img-02.jpeg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>C A R E</p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Side Effects</h2>
                <h3>Pfizer</h3>
                <p>The most common side effects are injection site pain, fatigue, headache, muscle pain, and joint pain. 
                    Some people in the clinical trials have reported fever. Side effects are more common after the second dose; 
                    younger adults, who have more robust immune systems, reported more side effects than older adults.
                    To be clear: These side effects are a sign of an immune system kicking into gear. They do not signal that 
                    the vaccine is unsafe. To date there are no serious, long-term side effects associated with receipt of these 
                    vaccines, which will be closely monitored as their use expands.
                    There have been a handful of reports of people having allergic reactions to the Pfizer vaccine since its
                     rollout began. Those reactions — anaphylaxis or a less severe allergic reaction — were not seen in the 
                     clinical trials. It remains to be seen if similar events will be seen with the Moderna vaccine.
                    
                    </p>
                <p>Safety for those who are pregnant or lactating -
                    Neither of the vaccines has been tested in these two groups. 
                    Moderna has completed animal studies the FDA demanded of manufacturers; 
                    these studies look for evidence that the vaccine might harm the pregnancy or the developing fetus. 
                    The company said it saw no such signals.
                    Pfizer has only interim data from its animal studies, but said it saw no concerning signs either. </p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('assets/images/img-03.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>N E A R B Y</p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Vaccine Centers Near You</h2>
                <h3>Beat CORONA </h3>
                <p>Get in touch with us to get the list of vaccination centers near you and the protocal to be followed in your area. </p>
                <div class="section-container contactblock" id="contact-section-container">
                    <div class="container contact-form-container" >
                        <div class="row">
                            <div class="col-xs-6 col-md-offset-1 col-md-6">
                                <div class="section-container-spacer">
                                    <h2 class="text-left">Get in touch</h2>
                                </div>
                                <form action="">
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" placeholder="Enter your Address"></textarea>
                                    </div>
                
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1">Email me a copy
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox2" value="option2">I am a human
                                        </label>
                                    </div>
                
                                    <button type="submit" class="btn btn-primary">Send message</button>
                                    <a href="" class="btn btn-default">Reset</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Our Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/img-02.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Digital Certificate</h3>
                <p>TBD software used at medical centers helps organize data on citizen vaccination and provides a
                    unique digital certificate to every vaccinated person for verification during travel and other public places. </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="assets/images/auth.png" alt="" class="img-responsive">
                <h3 class="text-center">Secure Database for verification</h3>
                <p>TBD software provides a tool for the authorities as airports, subways and railway stations to ensure the passenger safety,
                    by verifying the passenger's vaccination details with a simple fingerprint scan. </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/img-03.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Legitimate reports on Side Effects</h3>
                <p>TBD maintains a secure database of all the side effects reported by patients, verified by certified medical professionals
                    to bring to you all the information that you may need. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>+ 123 45 67 890</p>

                        <h3>E-mail</h3>
                        <p>hello@email.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>42 rue rouelle 75015, Paris</p>

                        <h3>Open hours</h3>
                        <p>Mon - Fri : 9AM - 5PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>TBD - Complete Vaccine Solution</p>
                </div>

                </div>

        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="main.faaf51f9.js"></script>